<footer class="footer-distributed">
  <hr>
  <div class="footer-right">

    <a href="https://discord.gg/ADRSh9XY2v"><img src="/images/footer/discord.png"
        style="height: 31px; width:31px; padding-top: 2px;" alt=""></a>
    <a href="https://github.com/DarkMooNight"><img src="/images/footer/github.png" alt=""></a>
    <a href="https://t.me/darkmoon1ght"><img src="/images/footer/telegram.png" alt=""></a>
    <a href="https://vk.com/darkmoonight"><img src="/images/footer/vk.png" alt=""></a>
    <a href="https://zen.yandex.ru/darkmoonight"><img src="/images/footer/yandex-zen.png" alt=""></a>

  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="{{ site.baseurl }}/index">главаня</a>
      <a href="{{ site.baseurl }}/store">магазин</a>
      <a href="{{ site.baseurl }}/news">новости</a>
      <a href="{{ site.baseurl }}/about">о нас</a>
      <a href="{{ site.baseurl }}/donate">донаты</a>
    </p>
    <p>DARK NIGHT &copy; 2022</p>
  </div>

</footer>