.title-page{
    color: white;
    margin: auto;
    max-width: 900px;
    position: relative;
  }
  .title-page .title{
    margin-bottom: -15px;
  }
  .title-page p{
    font-size: 20px;
  }
  .about-page{
    color: white;
    margin: auto;
    max-width: 900px;
    position: relative;
  }
  .about-page img{
    max-width: 900px;
    border-radius: 10px;
  }
  .donate-page{
    color: white;
    margin: auto;
    max-width: 900px;
    position: relative;
    font-size: 20px;
  }
  .about-text{
    font-size: 20px;
  }
  .title-page img, video{
    max-width: 900px;
    border-radius: 10px;
  }
  .title-page .description{
    color: #838383;
    font-size: 17px;
  }
  .title-page video{
    margin: 5px 0 5px 0;
  }
  .donate{
    margin: auto;
    max-width: 900px;
    color: white;
    text-align: center;
    position: relative;
    overflow:hidden;
  }
  .donate .qiwi{
    float: right;
    padding-right: 20px;
  }
  .donate .yomany{
    float: left;
  }
  .about-text p{
    font-size: 20px;
  }
  .donate-page{
    font-size: 20px;
  }
  @media(max-width: 900px) {
     .title-page img, video{
      width:100%;
      margin: auto; 
     }
     .about-page img{
      width:100%;
      margin: auto; 
     }
     .donate-page{
      text-align: center;
      width: 90%;
      margin: auto;
     }
     .donate{
      width:100%;
      margin: auto; 
     }
     .donate .qiwi, .donate .yomany {
      text-align: center;
      width:100%;
    }
    .about-text p{
      font-size: 18px;
    }
    .about-text h2{
      font-size: 24px;
    }
    .about-page h1{
      font-size: 28px;
    }
    .donate-page p{
      font-size: 18px;
    }
  }