.title-page{
    color: white;
    margin: auto;
    max-width: 750px;
    position: relative;
  }
  .donate-page{
    color: white;
    margin: auto;
    max-width: 750px;
    position: relative;
    font-size: 20px;
  }
  .about-text{
    font-size: 20px;
  }
  .title-page img, video{
    max-width: 750px;
    border-radius: 10px;
  }

  .title-page .description{
    color: #838383;
  }
  .title-page video{
    margin: 5px 0 5px 0;
  }
  .donate{
    margin: auto;
    max-width: 750px;
    color: white;
    text-align: center;
    position: relative;
    overflow:hidden;
  }
  .donate .qiwi{
    float: right;
  }
  .donate .yomany{
    float: left;
  }

  @media(max-width: 750px) {
     .title-page img, video{
      width:100%;
      margin: auto; 
     }
     .donate-page{
      text-align: center;
      width: 90%;
      margin: auto;
     }
     .donate{
      width:100%;
      margin: auto; 
     }
     .donate .qiwi, .donate .yomany {
      text-align: center;
      width:100%;
    }
  }