.title-page{
    color: white;
    margin: auto;
    max-width: 750px;
    position: relative;
  }
  .title-page img{
    max-width: 750px;
    border-radius: 10px;
  }

  @media(max-width: 750px) {
     .title-page img{
      width:100%;
      margin: auto; 
     }
  }