@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

:root {
    --header-height: 3rem;

    --hue: 252;
    --sat: 52%;

    --first-color: hsl(var(--hue), var(--sat), 48%);
    --first-color-second: hsl(var(--hue), var(--sat), 48%);
    --first-color-alt: hsl(var(--hue), var(--sat), 30%);
    --input-color: hsl(var(--hue), var(--sat), 90%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue), 12%, 80%);

    --body-font: 'Jura', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .812rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


body.dark-theme {
    --first-color-second: hsl(var(--hue), 30%, 8%);
    --input-color: hsl(var(--hue), var(--sat), 20%);
    --title-color: hsl(var(--hue), 8%, 95%);
    --text-color: hsl(var(--hue), 8%, 75%);
    --body-color: hsl(var(--hue), 28%, 12%);
    --container-color: hsl(var(--hue), 29%, 16%);

    --scroll-bar-color: hsl(var(--hue), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue), 12%, 36%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    min-width: 390px;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--input-color) inset;
}

.section {
    padding: 4rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

/* Навигационная панель */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.25rem;
    margin-right: var(--mb-1);
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}

.nav_list,
.nav_link {
    display: flex;
}

.nav_link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
}

.nav_list {
    justify-content: space-around;
}

.nav_name {
    font-size: var(--tiny-font-size);
}

.nav_icon {
    font-size: 1.5rem;
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/* Кнопки */
.contact_button {
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.contact_button:hover {
    background-color: var(--first-color-alt);
    cursor: pointer;
    transform: translateY(-.25rem);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
    transform: translateY(-.25rem);
}

.button_icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

/* Главная */
.home_container {
    gap: 1rem;
}

.home_content {
    grid-template-columns: .5fr 3fr;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
    transition: .3s;
}

.home_social-icon:hover {
    color: var(--first-color-alt);
    transform: translateY(-.15rem);
}

.home_img {
    width: 400px;
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: var(--big-font-size);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.home_description {
    margin-bottom: var(--mb-2);
}

.home_scroll {
    text-align: center;
}

.home_scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home_scroll-button:hover {
    transform: translateY(.25rem);
}

.home_scroll-mouse {
    font-size: 2rem;
}

.home_scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
    font-size: 1.25rem;
}

/* Проекты */
.project_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_filter {
    margin-top: var(--mb-0-75);
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    border: 1px solid rgb(237, 237, 237, 0.6);
    border-radius: 1rem;
}

.project_filter-list {
    font-size: 1.25rem;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.project_filter-active{
    background-color: var(--first-color);
    color: #FFF;
    border-radius: 1rem;
}

.project_img{
    width: 100px;
    margin: 2rem auto 0 auto;
}

.project_data {
    margin: 1rem 2rem 1rem 2rem;
}

.project_contetnt{
    margin-top: 1.5rem;
}

.project_progress {
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

/* Разработчики */
.developers_container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer_card, .project_item {
    text-align: center;
    transition: .3s;
}

.developer_card:hover, .project_item:hover {
    transform: translateY(-.5rem);
}

.developer_img{
    width: 200px;
    margin: 2rem auto 0 auto;
}

.developer_img img, .project_img img {
    border-radius: 50%;
}

.developer_data {
    margin: 1rem 6rem 1rem 6rem;
}

.developer_title, .project_title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.developer_role, .project_description {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.developer_social, .project_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.developer_social-link, .project_social-link {
    font-size: 1.25rem;
    color: var(--first-color);
    transition: .3s;
}

.developer_social-link:hover, .project_social-link:hover {
    transform: translateY(-.15rem);
}

/* Пожертвования */
.donate {
    text-align: center;
}

.donate_bg {
    background-color: var(--first-color-second);
    padding-top: 1rem;
    width: 100%;
}

.donate_title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.donate_description {
    margin-bottom: var(--mb-1-5);
}

.donate_title,
.donate_description {
    color: #FFF;
}

.donate_img {
    width: 250px;
    justify-self: center;
}

/* Контакты */
.contact_container {
    row-gap: 1rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.contact_content {
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.contact_message {
    font-size: var(--small-font-size);
}

.contact_img {
    width: 250px;
    justify-self: center;
}

.hr-line {
    margin-top: 9rem;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid #333;
}

/* Подвал */
.footer_container {
    padding: 3rem 0 5rem;
    text-align: center;
}

.footer_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer_list,
.footer_social {
    display: flex;
    justify-content: center;
}

.footer_list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer_links {
    color: var(--title-color);
}

.footer_links:hover {
    text-decoration: underline;
}

.footer_social {
    column-gap: 1.25rem;
}

.footer_social-link {
    font-size: 1.25rem;
    color: var(--first-color);
    transition: .3s;
}

.footer_social-link:hover {
    transform: translateY(-.15rem);
}

.footer_copy {
    display: block;
    margin-top: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/* Скролл */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: .2rem .3rem;
    border-radius: 50%;
    z-index: var(--z-tooltip);
    transition: .4s;
    font-size: 1.5rem;
    color: #FFF;
}

.scrollup:hover {
    font-size: 2rem;
    color: #FFF;
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

.show-scroll {
    bottom: 5rem;
}

/* Статус */
.color-red {
    color: hsl(4, 71%, 50%);
}

.color-green {
    color: hsl(138, 56%, 45%);
}

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav_name {
        display: none;
    }

    .home_content {
        grid-template-columns: .25fr 3fr;
    }

    .home_img {
        width: 200px;
    }
}

@media screen and (min-width: 568px) {
    .contact_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .home_data {
        text-align: center;
    }

    .home_img {
        width: 320px;
    }

    .home_scroll {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }

    .home_content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home_data {
        grid-column: initial;
    }

    .home_img {
        order: 1;
    }

    .developers_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project_contetnt {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 0 1rem;
    }

    .hr-line {
        margin-top: 1rem;
    }

    .developers_container {
        margin-top: 2rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_icon {
        display: none;
    }

    .nav_name {
        font-size: var(--normal-font-size);
    }

    .nav_link:hover {
        color: var(--first-color);
    }

    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    .section_subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .home_container {
        row-gap: 5rem;
    }

    .home_content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_img {
        width: 400px;
    }

    .donate_bg {
        background: none;
    }

    .donate_container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .donate_date {
        padding-top: 1rem;
    }

    .footer_container {
        padding: 3rem 0 1rem;
        text-align: center;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home_img {
        width: 500px;
    }
}